# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Cache
.cache/

# Redis dump
dump.rdb

# OS
.DS_Store


# ChromaDB
chromadb/
chromadb_data/
chroma/
*.sqlite3